body {
    background-color: black;
 }

h1 {
    padding-top: 30px;
    text-align: center;
    font-size: 52px;
}

h2 {
  padding-top: 30px;
  text-align: center;
}

h3 {
    text-align: center;
    font-size: 24px;
}

p {
  padding-left: 250px;
  display: inline-block;
  width: 500px;
}

#caption {

  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 40px;
  }

#wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
  }


.navbar {
    background-color: rgb(50, 50, 255);
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 104px;
    text-decoration: none;
    font-size: 17px;
  }

.navbar a:hover {
    background-color: #ddd;
    color: black;
  }

.navbar a.active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }

#myCanvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: 5px solid #000000;
    margin-top: 50px;
    margin-bottom: 10px;
    background: rgb(255, 255, 255);
    display: block;
}

.img-hover-zoom {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform .5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(7);
}

